# exclude all tests

# exclude internal type definition files
/lib/*.d.ts
/node6/lib/*.d.ts

# repeats from .gitignore
node_modules
.local-chromium
.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
package-lock.json
/docs
yarn.lock

# other
/.ci
/examples
.appveyour.yml
.cirrus.yml
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
README.md
tsconfig.json

